@import "../common.less";

.item {
  display: block;
  text-decoration: none;
  color: #555;
  position: relative;
  padding: 10px;

  .shaded-box();

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;

  background: transparent;
  transition: background 200ms ease-in-out;
  &:hover {
    background: rgba(0, 0, 0, 0.01);
  }

  /* create the hover shadow using a pseudoelement for performance */
  /* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
  &:after {
    box-shadow: 0 -4px 10px rgba(50, 50, 93, 0.11),
      0 -1px 10px rgba(0, 0, 0, 0.08);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &:hover:after {
    opacity: 1;
  }
  .info-column {
    display: block;
  }
  .rank {
    font-size: 2.2rem;
    opacity: 0.4;
    margin-right: 8px;
  }
  .main-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .title {
      font-size: 1.4rem;
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }
    .domain {
      font-size: 0.9rem;
      text-decoration: none;
      color: #555;
      margin-left: 10px;
    }
  }
  .meta {
    .link {
      font-size: 0.9rem;
      color: #666;
      text-decoration: none;
      padding: 2px 5px;
      border-radius: 2px;
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      background: transparent;
      transition: background 200ms ease-in-out;
      &:hover {
        background: rgba(0.4, 0.4, 0.4, 0.13);
      }
      .icon {
        opacity: 0.8;
        margin-right: 5px;
        font-size: 1.2rem;
      }
      .icon-comments:after {
        icon-font: url("../resources/comments.svg");
      }
      .icon-clock:after {
        icon-font: url("../resources/clock.svg");
      }
      .icon-user:after {
        icon-font: url("../resources/user.svg");
      }
    }
  }
}

.loading-placeholder:local {
  height: 1em;
  width: 60px;
  background: gray;
  display: inline-block;
  &.wide {
    width: 480px;
  }
  &.narrow {
    width: 25px;
  }

  .reflective-animation();
}
