@import "../common.less";

.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 8px;
  .inside {
    flex-grow: 999;
    color: inherit;
    .text {
      max-width: calc(100vw - 50px);
      display: inline-block;
      color: #444;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
    .meta {
      font-size: 0.8rem;
      color: #888;
      text-decoration: none;
      .meta-item {
        margin-right: 10px;
      }
      .time {
        color: inherit;
      }
      .username {
        color: inherit;
      }
      .collapse-button,
      .expand-button {
        cursor: pointer;
        color: inherit;

        margin-top: 5px;
        &:after {
          position: relative;
          top: 3px;
        }
      }
      .collapse-button {
        &:after {
          icon-font: url("../resources/collapse_arrow.svg");
        }
      }
      .expand-button {
        &:after {
          icon-font: url("../resources/expand_left.svg");
        }
      }
    }
    .children {
      color: inherit;
      &.collapsed {
        display: none;
      }
    }
  }
  .collapse-line {
    align-self: stretch;
    width: 0;
    padding-left: 10px;
    border-left: 3px #eee solid;
    cursor: pointer;
    transition: border-left 200ms ease-in-out;
    &:hover,
    &.highlight-hint {
      border-left: 3px #dddddd solid;
    }
  }
}
